<% content_for :header do %>
<div class="bg-lemon-500 p-[30px] flex justify-end">
    <div class="flex space-x-15 text-xl">
        <%= link_to "動物園に行く", root_path %>
        <%= link_to "水族館に行く", root_path %>
                <!-- ハンバーガーメニュー -->
            <div x-data="{ open: false }" class="relative">
                <!-- 三本線ボタン -->
            <button @click="open = !open" class="focus:outline-none">
                <!-- 三本線 -->
            <svg class="w-6 h-6 mr-15" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            </button>
                <!-- メニュー内容 -->
        <div x-show="open" @click.outside="open = false" class="absolute right-0 mt-8 w-60 bg-yellow-100 text-black rounded shadow-lg">
            <%= link_to "館員登録", new_user_registration_path, class: "block px-4 py-2 hover:bg-gray-100" %>
            <%= link_to "ログイン", new_user_session_path, class: "block px-4 py-2 hover:bg-gray-100" %>
            <%= link_to "トップに戻る", root_path, class: "block px-4 py-2 hover:bg-gray-100" %>
        </div>
    </div>
</div>
<% end %>
